# House price prediction

In [28]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [92]:
house_df = pd.read_csv("synthetic_house_prices.csv")

In [93]:
house_df.head(10)

   beds  baths  size      lot_size  zip_code     price
0     4    4.7  3956   9320.234868    520539  14538525
1     5    3.3  4006   9422.667907    609421  18466912
2     3    3.8   907   2262.521494    302834   2824978
3     5    4.7  3211   7457.782077    580441  12340515
4     5    3.8  3588  10114.151028    327579  12812713
5     2    1.6  2168   5448.986459    650242   6411579
6     3    3.3   647   1501.327835    810381   2206105
7     3    3.4  4827  13248.399872    452103  16930570
8     3    2.7  4397  10593.339669    851287  11442369
9     5    3.9  2450   4744.955111    835226   7215326

In [95]:
house_df.describe()

,beds,baths,size,lot_size,zip_code,price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
mean,3.004000,3.001400,2749.989000,6291.782265,561285.517000,9.560823e+06
std,1.433192,1.173574,1249.070706,3164.536079,258449.804494,5.156384e+06
min,1.000000,1.000000,506.000000,905.686712,100390.000000,1.291548e+06
25%,2.000000,1.900000,1683.250000,3640.530757,342050.750000,5.424023e+06
50%,3.000000,3.000000,2721.000000,5984.729472,576217.000000,8.872909e+06
75%,4.000000,4.000000,3859.000000,8510.842982,785376.750000,1.283119e+07
max,5.000000,5.000000,4999.000000,14635.130183,999434.000000,2.396185e+07

In [96]:
#Train the dataset

In [97]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso , Ridge
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [98]:
X = house_df.drop(columns = ['price' ])
Y = house_df['price' ]

In [99]:
X_train , X_test , Y_train , Y_test = train_test_split(X,Y , test_size = 0.2 , random_state = 0  )

In [100]:
print(X_train.shape)
print(Y_test.shape)

(800, 5)
(200,)

In [101]:
#Applying linear regression

In [102]:
column_trans = make_column_transformer((OneHotEncoder(sparse= False , handle_unknown='ignore') , ['beds']) , remainder='passthrough')

In [103]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_test_scaled = scaler.transform(X_test)


lr = LinearRegression()
lr.fit(X_train , Y_train)

LinearRegression()

In [114]:
r2 = r2_score(Y_test, Y_pred)
print("R-squared:", r2)

R-squared: 0.6995675451586277